<nav>
    <div class="nav-wrapper">
      <a class="brand-logo center">
        <i class="material-icons">cloud</i>
        Final Exit Project
      </a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li>
          <a (click)="Logout()">Logout</a>
        </li>
      </ul>
    </div>
</nav>

<!-- <a href='/administrator'>Administrator</a> -->
<!-- <div class="col">
  <app-administrator></app-administrator>
</div> -->

<div class="container jumbotron">
  <h1 class="text-center">Reimbursement Claim Portal</h1>
  <hr>
  <div class="row">
    <div class="col s5">
      <app-reimbursement></app-reimbursement>
    </div>
    <div class="col s7">
      <app-reimbursement-list></app-reimbursement-list>
    </div>
  </div>
</div>
