<!-- <form #imageForm=ngForm (ngSubmit)="OnSubmit(Caption,Image)">
  <div class="row">
    <div class="input-field col s6">
      <input type="text" #Caption ngModel name="Caption" id="Caption" required>
      <label for="Caption">Caption</label>
    </div>
  </div>
  <img [src]="imageURL"  style="width:250px;height:200px">
  <hr>
  <input type="file" #Image accept="image/*" (change)="handleFileInput($event.target.files)">
  <hr>
  <button type="submit" class="btn-large btn-submit" [disabled]="Image.value=='' || !imageForm.valid">Submit</button>
</form> -->
